:root {
  --font-text-main: "Quicksand";
  --color-main-bg: #000;
  --color-main-fg: #fff;
  --size-font-main: 2vh;
  --size-padding-nav: 1rem;
  --size-padding-article: 1rem;
  --size-padding-main: 1rem;
  --size-gap-article: 1rem;
  --size-gap-main: 3rem;
}

*,
*::before,
*::after {
  font-family: var(--font-text-main);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-main-bg);
  color: var(--color-main-fg);
  font-size: var(--size-font-main);
  text-decoration: none;
  list-style: none;
}


/*
  @font-face {
    font-family: "BJCree";
    src: url("/public/fonts/bjcree-reg.ttf");
  }
*/

@font-face {
  font-family: "Quicksand";
  src: url("/public/fonts/Quicksand.ttf")
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap-main);
  padding: 0 var(--size-padding-main);

}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-padding-nav) 0;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap-article);
}

.article__list ol {
  padding: 1rem 0;
}

.article__list li {
  padding-left: var(--size-padding-main);
}


